body{margin:0;padding:0;font: 12px Arial, Helvetica, sans-serif;line-height:160%;background:#ffffff;}
a:link {text-decoration: none; color:#252525;}
a:visited {text-decoration: none; color:#252525;}
a:hover {text-decoration: none; color:#007300;}
a:active {text-decoration: none; color:#252525;}
.clear{clear:both;}
a img{border:0;}
#topbar{width:100%;height: 35px;background:#f7f7f7;border-bottom:1px solid #ddd;}
.navbar{padding:6px 3px;}
.navbar img{width: 20px;vertical-align: top;margin-right: 4px;}
.navbar a{padding: 5px 0 3px 0;line-height: 1;display: inline-block;}
.navbar a font{color:#cc0202;}
.fr{float:right;}
.fl{float:left;}
ul{margin: 0;padding: 0;}

.content{width:1000px;margin:0 auto;}
#topbar .content{padding:2px;position: relative;}
#header{margin: 5px auto;width: 1000px;}
#logo{background: url(http://www.gove.cn/static/images/15.jpg);height: 170px;text-align: left;}
#logo img{vertical-align: top;margin: 40px 10px 0 35px;}
#logo h1{margin: 0;font-size: 46px;line-height: 160px;color: #e82f10;font-family: 微软雅黑,雅黑,黑体;text-shadow:2px 2px 1px #fff;display: inline-block;height: 170px;overflow: hidden;}
#logo span{font-size: 60px;}
#menu{background: #007300;margin:5px 0;padding: 10px 0;}
#menu a{display: inline-block;border-right: 1px solid #055F05;width: 62px;margin-left: 3px;color: #FFF;padding: 3px 7px;font-size: 14px;font-weight: bold;}
#menu a:last-child{border:0;}
.main{width: 1000px;margin: 5px auto;font-size: 0;}
.main div{font-size: 12px;}
.w960{width:960px; overflow:hidden;}
.w30{width:20px; text-align:center; font-size:14px; font-weight:bold; padding:4px 5px; margin-top:1px; line-height:20px; display:block; border-radius:0px 5px 5px 0;}
.w30:hover{ background:#007300;}
.w30:hover a{ color:#FFF; text-decoration:none;}
.b5{margin-bottom: 5px;}

.box{border:1px solid #CFCFCF; overflow:hidden;}

#footer{border-top: 1px solid #ddd;}
#footer p{line-height: 2;width: 64%;display: inline-block;vertical-align: bottom;margin: 0;}
#footer p.udli{font-size: 14px;margin: 11px 0;}
#footer div.footinc{margin: 7px auto 0;width: 1000px;position: relative;height: 140px;}
#footer div.logo3{display: inline-block;vertical-align: bottom;height: 60px;}
#footer div.qr{right: 0;top: 0;position: absolute;text-align: center;}
.udli a,.udli a:hover,#footer p a{text-decoration: underline;}

.main .box-left{width:340px;}
.main .box-right{ width:250px;text-align: center;border: 1px solid #e2e2e2;height: 250px;}





/* 默认幻灯片 */
.FocusPic{zoom:1;position:relative; overflow:hidden}
.FocusPic .content{overflow:hidden}
.FocusPic .changeDiv a{position:absolute;top:0px;left:0px;display:none;}
.FocusPic .title-bg,.FocusPic .title{position:absolute;left:0px;bottom:0;width:434px;height:30px;line-height:30px;overflow:hidden}
.FocusPic .title-bg{background:#000;filter:alpha(opacity=50);opacity:0.5;}
.FocusPic .title a{display:block;padding-left:15px;color:#fff; font-size:14px;}
.FocusPic .change{bottom:4px;height:20px;right:3px;*right:5px;_right:4px;position:absolute;text-align:right;z-index:9;}
.FocusPic .change i {background:#666;color:#FFF;cursor:pointer;font-family:Arial;font-size:12px;line-height:15px;margin-right:2px;padding:2px 6px; font-style:normal; height:15px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.FocusPic .change i.cur {background:#FF7700;}


/*new-hot*/
.news-hot{float:left; width:390px; margin-left:9px;}
.main .tab-hd{ height:34px; line-height:34px; background:#F3F3F3;font-size: 14px;border-right: 1px solid #CFCFCF;border-top: 1px solid #CFCFCF;}
.main .tab-hd span:first-child,.main .tab-hd div{line-height:35px; background:#007300;display:inline-block;font-weight: bold;margin-top: -1px;padding: 0 24px;color:#fff;font-size: 14px;}
.main .tab-hd span:first-child a{color:#fff;}
.main .tab-hd span:last-child{font-size: 12px;float: right;margin-right: 15px;color:#999;}
.main .tab-hd span:last-child a{color:#999;}
.main .tab-box{width: 320px;display: inline-block;margin:5px 20px 5px 0;vertical-align: top;}
.main .mr0{margin-right: 0;}
.main .tab-list{border-right: 1px solid #CFCFCF;border-left: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;width: 318px;padding: 5px 0;height: 280px;}
.tab-list ul{margin: 0 7px 0 4px;}
.tab-list li{padding-bottom: 2px;}
.main .photo-list{border-right: 1px solid #CFCFCF;border-left: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;padding: 7px 0 0 0;font-size: 0;text-align: center;}
.cunlist ul{list-style-type: square;padding: 0 0 0 20px;}
.cunlist li{line-height: 26px;font-size: 14px;height: 26px;color: #999;}
.cunlist li a{vertical-align: top;overflow: hidden;display: inline-block;height: 26px;margin-left: -4px;}

.photo-list li{display: inline-block;vertical-align:top; width:165px;text-align:center; padding:0;}
.photo-list img{width: 158px;height: 110px;}
.photo-list a.txt{font-size: 12px;height: 12px;overflow: hidden;display: block;line-height: 12px;margin: 4px 5px 10px 5px;}
.link li{width: 20%;display: inline-block;font-size: 14px;text-align: left;line-height: 23px;padding: 0 10px;box-sizing: border-box;max-height: 46px;overflow: hidden;}
.main .link{border:1px solid #cfcfcf;padding: 5px;font-size: 14px;}
.main .link div:first-child{border-bottom:1px solid #cfcfcf;}
.main .link div:last-child{padding-top: 10px;    font-size: 0;}
.head-list{border-bottom: 1px solid #e2e2e2;position: relative;margin-top: 10px;height: 95px;}
.head-list a{color: #1f3b7b;font-size: 14px;}
.head-list h1{width: 700px;overflow: hidden;line-height: 30px;height: 30px;padding: 15px 15px 0 15px;margin-bottom: 10px;text-align: center;}
.head-list h1 a{font-size: 30px;}
.head-list div{width: 730px;text-align: center;}
.head-list h2{display: inline-block;width: 200px;line-height: 14px;height:14px;margin:10px;overflow:hidden;}
.head-list ul{width: 250px;position: absolute;right: 0;bottom:0;border-top: 1px solid #e2e2e2;border-left: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;}
.head-list li{width: 220px;line-height: 12px;height: 12px;overflow: hidden;margin:13px 10px 13px 20px;}
.head-list li a{font-size: 12px;}
.head-list span{display: block;background: #E82F10;width: 23px;color: #fff;font-size: 12px;word-wrap: break-word;text-align: center;right: 240px;position: absolute;bottom: 15px;z-index: 1;line-height: 1.3;padding: 7px 0;}
.box-right dl{font-size: 0;padding:0;}
.box-right dt{font-size: 20px;margin: 5px 30px 0 30px;padding: 7px;color: #00be35;}
.box-right dt span{color: #E82F10;display:block;margin: 14px 0 0 0;;}
.box-right dd{display: inline-block;font-size: 18px;padding: 5px 15px;margin:0 5px;text-align: center;}
.box-right dd a{color: #666;}
.box-right dd a:hover{color: #000;}
.box-right h2{background: #34495e;color: #fff;display: inline-block;padding: 10px;margin: 20px;}
.box-right div.cunshopa a{background: #00be35;display: block;margin: 0 30px;color: #fff;font-size: 20px;line-height: 1.4;}
.box-right div.cunshopn a{background: #ff7f27;margin-bottom: 5px;}
.box-right div.cunshopa span{color: #ffff00;}
.box-right div.cunapply{text-align: center;}
.box-right div.cunapply a{font-size: 18px;padding: 10px;display: inline-block;}

.box-right div.cunapply a:first-child{font-size: 18px;color: #fff;background: #e74c3c;margin-bottom: 20px;}
.box-right div.cunapply span{font-size: 18px;display: block;padding: 10px;color: #e74c3c;}
.pageone, .pageclass{border: 1px solid #e2e2e2;padding: 0 15px;margin: 10px 0;}
.pageone h1{    line-height: 40px;
    text-align: center;
    height: 40px;
    margin: 16px 0 10px;}
.pageone div{font-size: 16px;}
.pageone .date, .pageclass .date{font-size: 12px;color: #999;border-bottom: 1px dashed #e2e2e2;padding-bottom: 5px;margin-bottom: 15px;text-align: center;
}
.pageone img{max-width: 900px;margin: 5px 0;}
.pageclass ul{padding: 0 0 0 23px;}
.pageclass li{font-size: 14px;line-height: 2;margin: 11px 0;border-bottom: 1px dashed #e2e2e2;}
.pageclass h1{line-height: 2;font-size: 20px;margin-top: 7px;}
.pageclass .pages{text-align: center;font-size: 14px;margin: 20px 0;}
.pageclass .pages a{margin: 0 10px;}
.article{width:670px;margin-right:10px;border-right:1px solid #e2e2e2;float:left;padding-right: 15px;    position: relative;}
.article h1{line-height: 32px;font-size: 24px;}
.article .date{font-size: 12px;color: #999;border-bottom: 1px dashed #e2e2e2;padding-bottom: 5px;margin-bottom: 5px;
}
.article img{max-width: 640px;margin: 5px 0;}
.main .cgg{font-size: 0;line-height: 1;}
.cgg img{margin:5px 0;}
.article .cgg img{max-width: 670px;}
.sidebar{width:300px;float:right;}
.sbox,.sidebar dl{margin-bottom:10px;}
.sbox br{height: 10px;display: block;content: "";}
.sidebar dt{border-bottom: 2px solid #e2e2e2;padding: 4px 0;}
.sidebar dt span{border-bottom: 3px solid #22b14c;display: inline-block;font-size: 16px;padding: 6px 0;margin-bottom: -7px;}
.sidebar dd{border: 1px solid #e2e2e2;padding: 10px;margin: 0}
.sidebar li{line-height: 1.7;font-size: 14px;list-style-type: decimal-leading-zero;list-style-position: inside;color: #999;}

.atl-nav{border-bottom:1px solid #e2e2e2;}
.atl-nav a{font-size: 14px;}
.atl-nav span{font-size: 14px;}
.atl-nav div:first-child{margin: 10px;float: left;line-height: 33px;}

div.search{margin: 10px 0;float: right;font-size: 0;position: relative;z-index: 1000;height: 34px;border: 2px solid #22b14c;}
div.search ul{height: 34px;overflow: hidden;background: #f5f5f5;cursor: pointer;position: absolute;font-size: 14px;border-right: 1px solid #ddd;border-left: 1px solid #f5f5f5;border-bottom:0;}
div.search a{display: block;padding: 1px 32px 1px 14px;line-height: 32px;height: 32px;}
div.search a:hover{background:#f5f5f5;color:#252525;}
div.search s{line-height: 0;border-width: 4px;border-color: #666 transparent transparent;border-style: solid dashed dashed;height: 0;position: absolute;top: 16px;font-size: 0;left: 53px;z-index: 10;}
div.search s s{border-width: 3px;top: -4px;left: -3px;}
div.search form{font-size: 0;margin: 0 0 0 74px;}
div.search input{border:0;outline: 0;line-height: 14px;vertical-align: bottom;}
div.search input:first-child{padding: 1px 7px;width: 150px;font-size: 14px;height: 30px;}
div.search input:last-child{background: #22b14c;color:#fff;font-size: 14px;padding: 1px 0;cursor: pointer;height: 34px;width: 58px;}
.article .share{text-align: right;font-size: 14px;margin: 10px 20px;}
.article .share a{width:24px;height:24px;line-height:24px;background: url(http://static.gove.cn/main/images/share.png) no-repeat; margin-left:6px;display: inline-block;}
.article .share a:hover{text-decoration: none;}
.article table{border-collapse: collapse;}
.article td{padding: 5px 10px;border: 1px solid #ddd;}
.share a.t,.share a.t6{background-position: left -336px; width:auto; padding-left:16px; color:#8896b1;}
.share a.t0{background-position: left 0px; position:absolute; margin:0; cursor:pointer;}
.share a.t1{background-position: left -116px; margin-left:36px;}
.share a.t2{background-position: left -87px;}
.share a.t3{background-position: left -145px;}
.share a.t4{background-position: left -203px;}
.share a.t5{background-position: left -29px;}
.share a.t6{background-position: left -421px;padding-left:18px;}
.article .next{font-size: 14px;margin: 15px 0;border-bottom: 1px dashed #e2e2e2;padding-bottom: 10px;line-height: 1.7;}
.next li{font-weight: bold;}
.next li a{font-weight: normal;}
.article .related{}
.article .back{text-align: center;margin: 20px auto 20px;}
.article .back a{border: 1px solid #CDCDCD;border-radius: 2px;padding: 10px 15px;display: inline-block;margin: 0 5px;font-size: 14px;}
.article .copy{background: #eee;padding: 10px;}
.article .copy span{background: #16A085;color: #fff;margin-right: 10px;float: left;padding: 3px 0;width: 20px;text-align: center;line-height: 16px;}

.list{width:670px;margin-right:10px;border-right:1px solid #e2e2e2;float:left;padding-right: 15px;}
.list .entry{color: #999;border-bottom: 1px dashed #e2e2e2;padding-bottom: 10px;}
.list .entry a img{float: left;margin-right: 10px;margin-top: 3px;height: 110px;width: 158px;}
.list h1{border-bottom: 1px dashed #e2e2e2;padding-bottom: 20px;line-height: 32px;font-size: 24px;}
.list h2{margin: 15px 0;line-height: 1.2;max-height: 42px;overflow: hidden;}
.list font{color:#ff0000;}
.list .date{float: left;}
.list .counts{float: right;}
.list .pages{text-align: center;margin: 20px 0;}
.list .pages a{border: 1px solid #e3e3e3;text-align: center;color: #333;display: inline-block;padding: 3px 7px;margin: 0 5px;}
.list .pages a:hover{background: #eee;}
.list .pages span{color: #fff;background:#007300;border: 1px solid #007300;display: inline-block;padding: 3px 7px;margin: 0 5px;}
.main .ent-list {font-size: 0;}
.ent-list a{background:#009300;color: #fff;margin-left: 5px;width: 70px;line-height: 30px;text-align: center;height: 30px;font-size: 14px;display: inline-block;}
.ent-list a:first-child{background: #E82F10;width: 100px;font-size: 14px;margin-left:0;}

#applybg{position:absolute;top:0px;filter:alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;background-color:#000000;z-index:9998;left:0px;display:none;}
#applybox{position:fixed;top:170px;display:none;font-size: 14px;z-index: 9999;}
#applybox span{float: right;font-size: 12px;margin: -10px;padding: 5px;background: #eee;cursor: pointer;border-radius: 3px;}
#applybox p{color: #4d4d4d;line-height: 1.7; margin: 14px;text-align: left;}
#applybox div{box-shadow: 4px 4px 7px #777;width: 430px;margin: 0 auto;background: #fff;text-align: center;padding: 10px;border-radius: 3px;}
#applybox h1{color: #666;font-size: 24px;font-weight: bold;width: 200px;margin:30px auto;}
#applybox a{background: #007300;color: #fff;font-size: 18px;padding: 14px 0;font-weight: bold;margin:30px 140px;display: block;font-weight: bold;}
#applybox label{cursor: pointer;margin-left: 4px;}
#applybox input{width: auto;}
#applybox li{text-align: left;margin: 4px 140px;line-height: 1.7;list-style-type: none;font-size: 14px;}


.results p{color: rgb(77, 77, 77);margin: 0;}
.results .url{color: rgb(0, 128, 0);font-size: 14px;}
.results .entry{border:0;padding-bottom: 15px;}
.results h2{margin: 0;}
.results h2 a{color: rgb(17, 34, 204);text-decoration: underline;font-size: 16px;font-weight: normal;}

.useraction form{margin: 0;display: inline-block;width: 500px;border-right: 1px solid #eee;}
.useraction {padding: 15px 0;}
.useraction form div{margin: 10px auto;border:1px solid #eee;width: 400px;text-align: center;font-size: 0;}
.useraction form div.innerbox{border: 0;font-size: 14px;line-height: 1;padding: 15px;width: 269px;margin: 0;text-align: left;display: inline-block;height: 18px;}
.useraction form div.utype{padding: 13px 15px;}
.useraction input{border:0;outline: 0;font-size: 14px;line-height: 1;padding:15px;width: 269px;}
.useraction input:disabled{color: #999;background: #eee;}
.useraction form div.regqh{padding: 0 15px;}
.regqh select{margin: 13px 0;display: block;}
.useraction select{font-size: 14px;width: 269px;border: 1px solid #eee;background: #fff;}
.innerbox input{width:20px;vertical-align: bottom;}
.innerbox label{line-height: 18px;}
.useraction form span{display: inline-block;width: 100px;text-align: center;font-size: 14px;line-height: 1;padding: 17px 0 16px 0;border-right:1px solid #eee;vertical-align: top;}
.useraction .ipt{width: 155px;}
.useraction form img{display: inline-block;vertical-align: bottom;margin:2px;cursor: pointer;}
.useraction button{display: inline-block;background: #f2f2f2;text-align: center;font-size: 14px;line-height: 1;padding:15px 0 14px 0;width: 110px;margin:2px;border: 0;outline: 0;cursor: pointer;}
.useraction form div.btn input{width: 100%;background: #22b14c;font-size: 18px;color: #fff;padding: 15px;cursor: pointer;}
.useraction form button.btn{width: 295px;margin: 2px;}


.useraction .info{display: inline-block;vertical-align: top;text-align: center;width: 499px;margin-top: 70px;}
.useraction .info div{font-size: 18px;color: #999;margin-top: 20px;}
.useraction .info div a{color:#0065cd;}
.useraction p{font-size: 12px;width: 400px;margin: 0 auto;}
.useraction p.dtl{font-size: 14px;text-align: left;line-height: 1.7;margin: 5px auto;width: 500px;}
.usercontent a{color: #2d64b3;}
.useraction p.w400{width: 400px;}
.useraction .form_error,.form_error{background: #ffebeb;color: #e4393c;border: 1px solid #e4393c;padding: 7px 0;line-height: 16px;font-size:14px;text-align: left;display: none;}
.useraction .form_error b,.form_error b{display:inline-block;width: 16px;height: 16px;overflow: hidden;background: url(http://static.gove.cn/console/images/login_icons.png) -104px -49px no-repeat;margin: 0 5px;vertical-align: bottom;}
.main .form_success{display: none;color: #ffffff;background-color: #2ecc71;width: 200px;margin: auto;border-radius: 4px;height: 40px;line-height: 40px;font-weight: bold;font-size: 14px;position: absolute;top: 285px;z-index: 9999;left: 285px;}
.main .form_loading{display: none;color: #565656;background-color: #fff;margin: auto;border-radius: 4px;font-weight: bold;font-size: 14px;position: absolute;z-index: 9999;border:1px solid #ccc;padding: 17px 23px;box-sizing: border-box;
}
.main .form_loading img{vertical-align: middle;margin-right: 10px;}

.useraction .step2{display: none;}
.regtitle{text-align: center;margin-top: 30px;}
.regtitle li{font-size: 16px;color: #999;display: inline-block;width: 33%;border-bottom: 2px solid #f7f7f7;padding-bottom: 10px;}
.regtitle li.sel{color: #000;border-bottom: 2px solid #ff4700;}
.regtitle li i{display: inline-block;margin-right: 5px;width: 24px;height: 24px;text-align: center;font-style: normal;line-height: 24px;font-size: 14px;font-weight: 700;color: #FFF;background: url(http://static.gove.cn/main/images/step-circle2.png) no-repeat 0 0;}
.regtitle li.sel i{background: url(http://static.gove.cn/main/images/step-circle1.png) no-repeat 0 0;}
.result{padding:15px 0 50px 0;font-size: 18px;width: 700px;line-height: 1.3;}
.result h2{font-size: 30px;line-height: 36px;margin: 20px 0;}
.result h3{font-size: 20px;line-height: 1.1;margin: 5px 0;}
.result a,.result a:hover{color: #0065cd;text-decoration: underline;}
.result img{vertical-align: bottom;margin-right: 10px;}
.result div{color: #999;margin: 20px 0;font-size: 14px;}

.usermenu{width: 152px;background: #f7f7f7;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:20px 10px;line-height: 2;display: inline-block;vertical-align: top;}
.usermenu dl{margin: 0;font-size: 14px;}
.usermenu dd{margin: 0 0 14px 14px;line-height: 1.4;}
.usermenu dt{font-weight: bold;}
.usermenu li{list-style-type: none;}
.usercontent {width: 826px;display: inline-block;text-align: center;padding:10px 0;}
.usercontent form{border: 0;}
.usercontent h2{text-align: left;margin: 14px 30px;line-height: 30px;min-height: 30px;font-size: 18px;}
.usercontent h2 span{font-size: 14px;vertical-align: bottom;color: red;margin-left: 20px;}
.usercontent h3{font-size: 18px;font-weight: normal;}
.u0{padding: 0;margin: 0 auto;}

.usercontent table{margin: 0;padding: 0;border: 0;outline: 0;border-spacing:0;}
.usercontent td{padding:15px 5px 15px 5px;border-bottom: 1px solid #e8e8e8;}
.usercontent td img{display:block;margin-left:8px;}
.usercontent tr.b1{background:#f7f7f7;}
.usercontent tr.b2 td{border-top: 1px solid #e8e8e8;}
.usercontent td a{color:#2d64b3;}
.usercontent a.changecun{color: #fff;background: #22b14c;padding: 4px;margin-left: 7px;}

.b0 td{border:0;padding:12px 5px;font-size:14px;text-align: left;vertical-align: middle;line-height: 1.7;}
.edui-link-table tr:nth-child(2){display: none;}
.b00 {background:#e8e8e8;border-spacing:1px;}
.b00 td{border:0;padding:12px 5px;font-size:14px;background:#fff;}
#msg{font-size:14px;position:absolute;z-index:10000;zoom:1;left:50%;top:4px;background-color:#02a3c6;color:#fff;padding:4px 8px;display:none;}
.form-control {margin-bottom: 10px;height: 26px;padding-right: 32px;color: #777;display: block;width: 228px;padding: 6px 12px;font-size: 14px;line-height: 1.428571429;vertical-align: middle;outline:0;border: 1px solid #d4d4d4;box-shadow: 2px 2px 5px #d3d6da;background-color: #fff;}
.form-control {margin-bottom: 0;height: 24px;width: 125px;padding: 3px 6px;}
.form-control:-moz-placeholder{color:#b9c6d1}.form-control::-moz-placeholder{color:#b9c6d1}.form-control:-ms-input-placeholder{color:#b9c6d1}.form-control::-webkit-input-placeholder{color:#b9c6d1}
.btn-login {width: 100%;height: 40px;cursor:pointer;}
.btn-normal, .btn-normal[disabled] {color: #fff;background-color: #02a3c6;border: 0;}
.usercontent input.btn {padding: 0 18px;font-size: 14px;line-height: 1;display: inline-block;margin-bottom: 0;font-weight: 400;text-align: center;vertical-align: middle;background-image: none;white-space: nowrap;border-radius: 4px;-webkit-user-select: none;outline: 0;height: 28px;line-height: 28px;}
.up-container{overflow:hidden;min-height:768px;position:relative;padding-left:0;padding-right:0;max-width:100%;min-height:100%;}
.main .cunfav{margin: 15px 23px;text-align: left;font-size: 14px;}
.cunfav select{width: 118px;margin: 0 5px;outline: 0;height: 28px;}
.cunfav span{font-size: 14px;margin: 0 7px;}
.cunfav span:last-child{color: #fff;background: #22b14c;padding: 3px 10px;cursor: pointer;border-radius: 5px;}
.main .cunad{text-align: left;margin: 0 30px;font-size: 14px;line-height: 1.7;}
.atlist {font-size: 14px;}
.atlist a{font-size: 14px;}
.atlist input{width: auto;}
.atlist span.checkbtn, .cunfav span.checkbtn{color: #fff;background: #22b14c;padding:0 10px;cursor: pointer;border-radius: 5px;margin: 0 5px;width: 40px;text-align: center;font-size: 14px;display: inline-block;height: 28px;line-height: 28px;}
.atlist td{padding: 7px 0;}
.atlist td img{display: inline-block;margin-left: 3px;vertical-align: middle;}
input[name="q"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;font-size: 14px;
}
input[name="q"]::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;font-size: 14px;
}
input[name="q"]:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;font-size: 14px;
}
input[name="q"]:-moz-placeholder { /* Firefox 18- */
  color: #ccc;font-size: 14px;
}
.bal_list{width: 766px;margin: auto;font-size: 0;}
.bal_list li{width: 25%;display: inline-block;vertical-align: top;font-size: 13px;text-align: left;box-sizing: border-box;}
.bal_list li span{font-size: 24px;line-height: 1.5;}
.bal_list li a{background: #02a3c6;color: #fff;padding: 4px;margin: 3px 3px 0 0;display: inline-block;}
.rpt_list{width: 766px;margin: auto;border-top: 1px solid #e8e8e8;text-align: left;}
.rpt_list a{color:#2d64b3;font-size: 16px;margin: 14px 23px;display: inline-block;}

.usercontent .mt40{margin-top: 40px;}

.atl a{color:#2980B9;}
.main .atl{font-size: 16px;line-height: 1.7;word-break:break-all;}
.main .atl pre{white-space: pre-wrap;}
.main .atl div{font-size: 16px;}
.main .atl p{font-size: 16px;}
.main .atl span{font-size: 16px;}
.p_menu{border-top: 3px solid #007300;margin-top: -6px;}
.p_menu li{display: inline-block;font-size: 14px;}
.p_menu li a{padding: 10px 8px;display: block;border: 1px solid #e2e2e2;margin-right: -1px;}
.p_menu li a:hover{background: #007300;color: #FFF;border: 1px solid #007300;}
.p_menu li a.current{background: #007300;color: #FFF;border: 1px solid #007300;}
.p_list{margin: 20px auto;}
.p_list li{width: 199px}
.p_list .pages{text-align: center;margin: 20px 0;}
.p_list .pages a{border: 1px solid #e3e3e3;text-align: center;color: #333;display: inline-block;padding: 3px 7px;margin: 0 5px;}
.p_list .pages a:hover{background: #eee;}
.p_list .pages span{color: #fff;background:#007300;border: 1px solid #007300;display: inline-block;padding: 3px 7px;margin: 0 5px;}
.p_list .photo-list{padding: 20px 0 10px 0;}
.p_list ul{padding: 20px 0 10px 0;border: 1px solid #e2e2e2;}

.i_list{padding:0;width: 685px;}
.i_list .tab-box {width: 330px;margin: 5px 10px 5px 0;}
.i_list .tab-list{width: 328px;}
.i_list a img{width: 70px;height: 60px;}


.index dl{margin-bottom:5px;display: inline-block;vertical-align: top;}
.index dl div{border: 1px solid #e2e2e2;padding: 9px;}
.index dl div img{width: 250px;}
.index dt{border-bottom: 2px solid #e2e2e2;padding: 4px 0;}
.index dt span{border-bottom: 3px solid #22b14c;display: inline-block;font-size: 16px;padding: 6px 0;margin-bottom: -7px;}
.index dd{padding: 10px;margin: 0;background: #f4f5f6;}
.index li,.lbox li{line-height: 24px;font-size: 14px;list-style-type: none;list-style-position: inside;color: #999;height: 24px;overflow: hidden;}
.index li a,.lbox li a{overflow: hidden;}
.index li span{float: right;}
.w270{width:270px;}
.w360{width:360px;}
.w350{width:350px;}
.w270 dd{height: 60px;padding: 12px 10px;}
.w270 a img{float: left;}
.w270 dd a:last-child{margin: 10px 0 0 10px;
    font-size: 14px;
    line-height: 20px;
    max-height: 40px;
    display: inline-block;
    width: 180px;
    overflow: hidden;}
.mr10{margin-right: 10px;}
.mt10{margin-top: 10px;}
.mt0{margin-top: 0;}
.mt4{margin-top: 4px;}
.mt5{margin-top: 5px;}
.tl li a{width: 270px;display: inline-table;}
.i_box{border: 1px solid #e2e2e2;box-sizing: border-box;margin-bottom: 15px;}
.i_box div:first-child{display: inline-block;width: 28px;color: #fff;font-size: 16px;word-wrap: break-word;text-align: center;line-height: 1.4;margin: 1px;vertical-align: top;box-sizing: border-box;}
.i_box div:first-child span{margin-top: 7px;display: block;}
.bg_green{background: #22b14c;}
.bg_red{background: #E82F10;}
.i_box div{display: inline-block;vertical-align: top;}
.i_box .photo-list{width: 968px;border: 0;}
.i_box .photo-list li {width: 160px;}
.i_box .photo-list img {width: 150px;height: auto;}
.i_box .atl-list{width: 684px;font-size: 0;padding-top: 5px;padding-left: 7px;box-sizing: border-box;}
.i_box .atl-list li{width:50%;font-size: 14px;line-height: 25px;height: 25px;overflow: hidden;display: inline-flex;}
.i_box .atl-list li a{padding:0 4px;}
.i_box .focus-list{width: 275px;font-size: 0;padding-top: 7px;}
.i_box .focus-list li{display: block;padding-bottom: 7px;}
.todaycun{width: 492px;background: url(http://static.gove.cn/main/images/meiri.png);background-size: 100% 100%;display: inline-block;height: 168px;vertical-align: top;}
.todaycun a{color: rgb(232, 47, 16);margin: 90px 77px;display: inline-block;font-size: 16px;font-weight: bold;line-height: 1.4;}
.todaycun a span{font-size: 24px;margin-left: 5px;}

#reviews{margin: 30px 0;}
#reviews textarea{    border: 0;
    width: 100%;
    outline: 0;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid #22b14c;
    resize: none;
    font-size: 14px;
    line-height: 1.7;
    height: 82px;
    background: #fff;
}
#reviews input.r_btn{    background: #22b14c;border: 0;width: 80px;
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    float: right;}
#reviews form{    text-align: center;
    border: 1px solid #22b14c;
    height: 122px;
    background: #f3f3f3;
    float: right;
    width: 611px;position: relative;}
.article .liaoface{width: 30px;
    float: left;
    margin: 5px;
    cursor: pointer;}
#reviews .entry{font-size: 0;border-top: 1px solid #e2e2e2;
    margin: 14px 0;
    padding: 14px 0 0;}
#reviews .e57{margin-left: 57px;}
#reviews .entry:last-child{border-bottom: 1px solid #e2e2e2;padding-bottom: 9px;}
#reviews .user{color:#2d64b3;font-size: 14px;    display: inline-block;
    height: 16px;}
#reviews img.avatar{margin: 0 17px 4px 0;border-radius: 40px;vertical-align: top;width: 40px;}
#reviews .date{border: 0;
    float: right;}
#reviews p{font-size: 14px;line-height: 20px;margin-left: 57px;    margin-top: -21px;
    margin-bottom: 5px;}
#reviews p span{color: #2d64b3;
    cursor: pointer;}
#reviews p form{margin-top: 5px;}
#reviews p img{    width: 20px;
    height: 20px;
    margin: 0 1px 0 0;
    vertical-align: bottom;}
#reviews .login{border: 1px solid #e2e2e2;
    padding: 10px;
    display: block;
    border-radius: 5px;
    resize: none;
    text-align: center;
    font-size: 14px;    margin-bottom: 40px;
}
#reviews a{color:#2d64b3;}
#reviews b{font-size: 16px;
    margin-bottom: 10px;
    display: block;}
#reviews .error{color: #cc0202;
    font-size: 14px;
    padding: 0 10px;
    float: right;
    display: none;    line-height: 40px;
    height: 40px;}
#reviews .face{display: none;float: left;
        height: 112px;
    width: 216px;
    position: absolute;
    left: -1px;
    top: 122px;
    border-bottom: 1px solid #22b14c;
    background: #f3f3f3;
    border-left: 1px solid #22b14c;
    border-right: 1px solid #22b14c;}
.article .face img {
    width: 30px;
    margin: 5px 0 0 5px;
    cursor: pointer;
    float: left;
}
.page_button{}
.page_button a{margin:0 5px;line-height: 23px;}
.page_button span{font-size: 14px;margin:0 5px;     line-height: 23px;}
.useraction  input.searchinput{height: 28px;line-height: 28px;
    outline: 0;padding: 0 7px;
    border: 1px solid #e8e8e8;
    background: #fff;box-sizing: border-box;width: 140px;font-size: 14px;
}
.userul{padding: 14px 0 0 50px;text-align: left;font-size: 14px;line-height: 2;width: 50%;
    float: left;box-sizing: border-box;}
.main .av_l{text-align: center;}
.main .av_l img{margin: 10px;border: 1px solid #eee;padding: 4px;}
.main .av_l img:last-child{border-radius: 40px;border: 0;padding: 5px;}

#ctnum{font-size: 50px;color: #777;margin: 40px;line-height: 1;display: none;}
.news {margin: 10px auto;-webkit-font-smoothing: antialiased;font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",Arial,sans-serif;}
.news .left{width: 110px;text-align: center;float: left;margin-right: 30px;height: 470px;}
.news .list{width: 560px;margin: 0;padding: 0;border: 0;}
.news .list h2{margin:0;padding-top: 10px;font-weight: 700;font-size: 20px;line-height: 26px;max-height: 52px;}
.news .entry{position: relative;border-bottom: 1px solid #e8e8e8;padding: 7px 0 10px;}
.news .line{position: absolute;bottom: 10px;right: 0;font-size: 0;height: 18px;}
.news .line a{font-size: 14px;}
.news .line .top1{color: #C0392B;border: 1px solid #C0392B;font-size: 12px;margin-right: 10px;padding: 1px 2px;height: 14px;line-height: 14px;display: inline-block;}
.news .line a.ch{color: #16A085;border: 1px solid #16A085;font-size: 12px;margin-right: 10px;padding: 1px 2px;height: 14px;line-height: 14px;display: inline-block;}
.news .line a.cun{color: #0065cd;margin-right: 10px;}
.news .list span{font-size: 14px;}
.news .right{width: 270px;float: right;}
.news dl{margin: 0 0 10px;font-size: 0;}
.news dd{margin: 0;}
.news dl{border-top: 2px solid #ed4040;background-color: #f4f5f6;padding: 10px 10px 2px;}
.news dt{color: #222;font-size: 18px;font-weight: 700;margin-bottom: 4px;}
.news .nbox dd{padding: 10px 0;border-bottom: 1px solid #e8e8e8;height: 60px;}
.news .nbox dd:last-child{border: 0;}
.news .nbox dd img{width: 60px;height: 60px;float: left;}
.news .nbox dd a:last-child{margin: 10px 0 0 10px;font-size: 14px;line-height: 20px;max-height: 40px;display: inline-block;width: 180px;overflow: hidden;}
.news .pbox dd{padding: 8px 0;display: inline-block;text-align: center;width: 120px;}
.news .pbox dd:nth-child(even){margin-right: 10px;}
.news .pbox dd img{width: 120px;}
.news .pbox dd a:last-child{font-size: 14px;line-height: 18px;height: 36px;overflow: hidden;margin-top: 4px;display: block;}
.news .ad{background: #f4f5f6;padding: 10px;margin-bottom: 10px;}
.news .menu{width: 110px;}
.news .menu_fixed{position: fixed;top: 10px;z-index: 20;}
.news .logo{color: #22b14c;font-size: 24px;font-weight: bold;height: 40px;
    line-height: 40px;}
.news .logo img{margin-bottom: 4px;}
.news .menu ul{font-size: 0;}
.news .menu li,.rf li{list-style: none;display:inline-block;}
.news .menu li:nth-child(odd),.rf li:nth-child(odd){margin-right: 2px;}
.news .menu li a,.rf li a{display: block;width: 54px;height: 40px;line-height: 40px;text-align: center;color: #444;border-radius: 4px;font-size: 16px;margin-bottom: 2px;-webkit-transition-property: color,background-color;transition-property: color,background-color;background-color: #f4f5f6;}
.news .menu li a:hover,.rf li a:hover{-webkit-animation-name: hvr-back-pulse;animation-name: hvr-back-pulse;-webkit-animation-duration: .2s;animation-duration: .2s;-webkit-animation-timing-function: linear;animation-timing-function: linear;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;background-color: #22b14c;color: #fff;}
.news .menu li .active,.rf li .active {background-color: #22b14c;color: #fff;}
.rf li .active1{background-color: #E67E22;color: #fff;}
}@-webkit-keyframes hvr-back-pulse{0%{background-color:rgba(34,177,76,.6)}50%{background-color:rgba(34,177,76,.76)}}@keyframes hvr-back-pulse{0%{background-color:rgba(34,177,76,.6)}50%{background-color:rgba(34,177,76,.76)}}

.news .nsearch{margin-bottom: 10px;}
.news .nsearch .input{border: 1px solid #e8e8e8;padding: 0 14px;background-color: #f5f6f7;border-radius: 4px;}
.news .nsearch input{    border: 0;
    color: #444;
    font-size: 14px;
    line-height: 20px;
    width: 210px;
    padding: 0;
    outline: 0;
    padding: 9px 10px 9px 0;
    background: #f5f6f7;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.news .nsearch .btn{    display: block;
    border-left: 0;
    float: right;}
.news .nsearch button{line-height: 38px;
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;padding: 0;}
.news .nsearch img{width: 16px;margin-top: 11px;}
.news input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
.news input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
.news input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
.news input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
.rf_fixed{position: fixed;top: 10px;z-index: 20;}
.news .topentry{    background: #f4f5f6;
    padding: 0 10px;    border: 1px solid #22b14c;}
.topentry .entry:last-child{border: 0;}
.news .entry:last-child{border: 0;}
.topentry .line a.cun{margin: 0;}

.rf ul{margin-bottom: 2px;}
.rf li{}
.rf li a{width: 132px;margin-bottom: 6px;}
.rf li a.active{}
.menu .qr{margin-top: 20px;font-size: 14px;}

.morebtn{background: #22b14c;height: 44px;margin-top: 4px;}
.morebtn a{color: #fff;}
.morebtn a span{display: block;font-size: 18px;margin: auto;line-height: 44px;font-weight: bold;}


.morebar{background: #22b14c;
    color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    right: -106px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
        border-left: 1px solid #22b14c;
    border-right: 1px solid #22b14c;
    top: 0;width: 98px;
    box-sizing: border-box;
    text-align: center;}
.morebaron{background: #fff;
    color: #252525;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;}
.morebox{background: #fff;
    color: #252525;
    line-height: 36px;
    padding: 0 10px;
    right: -1px;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 36px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 98px;
    box-sizing: border-box;
    text-align: center;display: none;}
.morebox li{list-style: none;
    line-height: 1;    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #f7f7f7;}
.morebox li span{display: block;margin-top: 5px;}
.focus-list{ text-align: center;border: 10px solid #f4f5f6;padding: 4px 4px 0;}
.focus-list li{list-style: none;height: 57px;margin-bottom: 3px;}
.focus-list li img{width: 242px;}
.i_news{margin: 0 auto 15px;}
.i_news .left{margin-right: 10px;}
.i_news .list{width: 600px;}
.index dl .i_actbtn{font-size: 0;padding-bottom: 10px;background: #f4f5f6;border: 1px solid #f4f5f6;}
.i_actbtn a{display: inline-block;width: 120px;font-size: 18px;background: #E67E22;color: #fff;text-align: center;line-height: 36px;margin-bottom: 8px;height: 36px;float: left;}
.i_actbtn a:nth-child(odd){background: #22b14c;margin-right: 10px;}

.index-nav div.search{margin: 0;}
.index-li{width: 700px;display: inline-block;}
.index-li li{width: 16.66%;display: inline-block;border-right: 5px solid #fff;box-sizing: border-box;text-align: center;height: 38px;line-height: 38px;} 
.index-li li a{font-size: 14px;color: #fff;display: block;}
.i-nav{margin-bottom: 20px;}
.i-nav .index-li{width: 1000px;}
.i-nav .index-li li{width: 12.5%;}
.i-nav .index-li li:last-child{border: 0;}

.acom{margin: 10px 0;text-align: center;}
.acom a{    font-size: 16px;
    display: inline-block;
    color: #fff;
    background: #3498DB;
    text-align: center;
    padding: 11px 14px;
    box-sizing: border-box;
    width: 25%;}
.acom a:hover{background: #2980B9;}
.acom span{font-size: 12px;}

.forum-left{    width: 600px;
    border-left: 1px solid #CFCFCF;float: left;
    padding-left: 10px;
    border-bottom: 1px solid #CFCFCF;
    }
.forum-right{    width: 368px;
    border-right: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    float: right;
    height: 244px;
    padding: 0 10px;}
.forum-left li{ list-style-type: none;
    width: 138px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    border: 1px solid #CFCFCF;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 52px;    box-shadow: 1px 1px 2px #d3d6da;}
.forum-left li span{width: 36px;
    background: #ff7f27;
    display: inline-block;
    border-radius: 18px;
    height: 36px;
    margin: 9px 11px 9px 0;
    vertical-align: middle;}
.forum-left li img{    width: 18px;
    margin: 9px;}
.forum-left li a{
    vertical-align: middle;
}
.forum-left h3,.forum-right h3{    text-align: center;
    font-size: 18px;
    line-height: 32px;
    padding: 10px 0;
    }

#likerr{margin-right: 230px;font-size: 14px;float: right;margin-top: -36px;border: 1px solid #fff;padding:4px 7px;display: none;}
#likerr a{color:#2d64b3;}
#reportbtn{font-size: 14px;float: right;margin-top: -36px;color: #cc0202;border: 1px solid #cc0202;padding:4px 7px;cursor:pointer;}

#likebtn{margin-right: 151px;font-size: 14px;float: right;margin-top: -36px;color: #0065cd;border: 1px solid #0065cd;padding:4px 7px;cursor:pointer;}
#likeclk{
    padding-left: 20px;
    }
#likebtn .like {
    background: url(http://static.gove.cn/main/images/like0.png) no-repeat top left;background-size: 16px;
}
#likebtn .liked{background: url(http://static.gove.cn/main/images/like3.png) no-repeat top left;background-size: 16px;}
#likenum{color: #777}
.tip_right { position:fixed; _position:absolute; z-index:999; right:10px; top:45%; }
.tip_weixin{ display:block; width:50px; height:50px; border:1px solid #d5d5d5; border-bottom:none; background:#fff url(http://static.gove.cn/kf/kfimg/tip_right_1.png); }
.tip_service{ display:block; width:50px; height:50px; border:1px solid #d5d5d5; border-bottom:none; background:#fff url(http://static.gove.cn/kf/kfimg/tip_right_2.png); }
.tip_service2{ display:block; width:50px; height:50px; border:1px solid #d5d5d5; border-bottom:none; background:#fff url(http://static.gove.cn/kf/kfimg/tip_right_3.png); }
.tip_top{ display:block; width:50px; height:50px; border:1px solid #d5d5d5; border-bottom:none; background:#fff url(http://static.gove.cn/kf/kfimg/tip_right_4.png); }

.tip_service,.tip_service2 { margin:0; padding:0; font:12px / 1.5 tahoma,arial,\5b8b\4f53; color:#454545;background-position:0 -150px; }
.tip_top { background-position:0 -200px; border-bottom:1px solid #d5d5d5; }

.tip_weixin:hover { background:#eee url(http://static.gove.cn/kf/kfimg/tip_right_1.png) 0 -100px; }
.tip_service:hover { background:#eee url(http://static.gove.cn/kf/kfimg/tip_right_2.png) 0 -150px; }
.tip_service2:hover { background:#eee url(http://static.gove.cn/kf/kfimg/tip_right_3.png) 0 -150px; }
.tip_top:hover { background:#eee url(http://static.gove.cn/kf/kfimg/tip_right_4.png) 0 -200px; }

.tip_service div { display:none; position:absolute; right:50px; bottom:-52px; border:1px solid #d5d5d5; width:220px; padding:10px; background:#fff; }
.tip_service div h3 { width:176px; height:45px; background:url(http://static.gove.cn/kf/kfimg/bg_footer.jpg) no-repeat 0 -302px; text-indent:-1000em; }
.tip_service div h4 { font-size:24px; }
.tip_service div p { line-height:22px; }
.tip_service div p img { vertical-align:middle; }
.tip_service2 div { display:none; position:absolute; right:50px; bottom:-52px; border:1px solid #d5d5d5; width:220px; padding:10px; background:#fff; }
.tip_service2 div h3 { width:176px; height:45px; background:url(http://static.gove.cn/kf/kfimg/bg_footer.jpg) no-repeat 0 -302px; text-indent:-1000em; }
.tip_service2 div h4 { font-size:24px; }
.tip_service2 div h5 { font-size:18px; }
.tip_service2 div p { line-height:22px; }
.tip_service2 div p img { vertical-align:middle; }
.tip_weixin span { display:none; position:absolute; right:50px; bottom:-103px; border:1px solid #d5d5d5; background:#fff; }
.tip_weixin span img { display:block; width:250px; height:250px; padding:2px; }
.tip_right p, h1, h2, h3, h4, h5, h6,ol, ul, li, dl, dt, dd{margin:0;padding:0;}


.tip_left { position:fixed; _position:absolute; z-index:999; left:10px; top:45%; }
dt .more{
    float: right;
    font-size: 12px;
    color: #999;
}
